/* Variables */

:root {
    --white: #FFFFFF;
    --white-dull: #d6d6d6;
    --white-10: rgba(255, 255, 255, 0.1);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-40: rgba(255, 255, 255, 0.4);
    --white-80: rgba(255, 255, 255, 0.8);
    --black: #000000;
    --black-0001: rgb(0, 0, 0, 0.0001);
    --black-14: rgba(0, 0, 0, 0.14);
    --black-20: rgb(0, 0, 0, 0.20);
    --black-24: rgb(0, 0, 0, 0.24);
    --black-75: rgb(0, 0, 0, 0.75);
    
    --btn-primary-bg: #3577EF;
    --btn-primary-bg-hover: #2d63c7;
    --btn-primary-bg-active: #2553a8;

    --current-server: #8F8F8F;
    --server-bg: #EA4C89;

    --sidebar-bg: rgba(37, 39, 42, 0.75);
    --sidebar-dropdown-bg: #777777;
    --sidebar-grey: #919191;
    --sidebar-light-grey: #B5B5B5;
    --friend-online: #70CC16;
    --friend-offline: #666666;

    --chat-grey: #8D8D8D;
    --chat-light-grey: #A4A4A4;
    --notify: #FD4948;

    --profile-grey: #5F6164;
    --profile-white-dull: #E8E8EB;
}

/* Global */

html, body {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    width: 52px;
    height: 12px;
    background-image: url('/img/mac_dots.png');
    background-repeat: no-repeat;
    background-position: center;
    left: 9px;
    top: 10px;
    cursor: pointer;
    user-select: none;
    /* По сути можно было не делать) */
}

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

/* Visually hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Btn primary */

.btn-primary {
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    background-color: var(--btn-primary-bg);
    border-radius: 4px;
    padding: 0.5em 1em;
    transition: background-color 0.2s;
}

.btn-primary:hover {
    background-color: var(--btn-primary-bg-hover);
}

.btn-primary:active {
    background-color: var(--btn-primary-bg-active);
}

/* Link primary */

.link-primary {
    color: var(--btn-primary-bg);
    text-decoration: none;
}

.link-primary:hover {
    color: var(--btn-primary-bg-hover);
    text-decoration: underline;
}

.link-primary:active {
    color: var(--btn-primary-bg-active);
    text-decoration: none;
}

/* Container */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 70px 260px 1fr;
}

.container::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/backgrounds/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(25px);
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    transform: scale(1.1);
}

/* Nav servers */

.nav-servers {
    display: grid;
    grid-template-rows: 1fr 70px;
    background-color: var(--black-75);
    padding-top: 41.5px;
    max-height: 100vh;
}

.servers, .server-list {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.servers::-webkit-scrollbar, .server-list::-webkit-scrollbar {
    display: none;
}

/* Server list */

.server-item {
    opacity: 0.3;
    height: 58px;
    transition: opacity 0.2s;
    position: relative;
}

.server-item img {
    background-color: var(--server-bg);
    border-radius: 50%;
}


.server-item a {
    display: block;
    height: 100%;
    padding: 9px 15px;
}

.server-item.current-server {
    opacity: 1;
}

.server-item.current-server::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 25px;
    left: -3px;
    background-color: var(--current-server);
    border-radius: 50%;
}

.server-item:hover, .server-item:active {
    opacity: 1;
}

/* Add server */

.add-server-wrapper a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.add-server {
    width: 40px;
    height: 40px;
    background-color: var(--white-10);
    border-radius: 50%;
    position: relative;
    transition: border-radius 0.2s ease-in-out;
}

.add-server:hover {
    border-radius: 30%;
}

.add-server:hover .add-server-plus {
    opacity: 1;
}

.add-server a {
    display: block;
    height: 100%;
}

.add-server-plus {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.4;
}

.add-server-plus::before, .add-server-plus::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--white);
}

.add-server-plus::before {
    top: 19px;
    left: 13px;
}

.add-server-plus::after {
    top: 19px;
    left: 13px;
    transform: rotate(90deg);
}

/* Sidebar */

.sidebar {
    display: grid;
    grid-template-rows: 90px 1fr;
    padding: 35px 6.5px 15px 23px;
    background-color: var(--sidebar-bg);
    color: var(--white);
    max-height: 100vh;
}

/* Sidebar menu */

.sidebar-menu {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-right: 16.5px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.server-settings {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url('../img/gui_icons/settings.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 0.1s;
}

.server-settings:hover, .server-settings:active {
    opacity: 1;
}

/* Channel select */

.channel-select {
    position: relative;
    width: auto;
    margin-left: -10px;
}

.channel-select[open] {
	z-index: 1;
}

.channel-summary {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    background: none;
    cursor: pointer;
    list-style: none;
    padding: 4px 10px 7px 10px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    user-select: none;
}

.channel-summary::-webkit-details-marker {
	display: none;
}

.channel-summary::after {
    content: "";
    display: inline-block;
    width: 11.5px;
    height: 7.5px;
    margin: 0 0 3px 6px;
    background-image: url('../img/gui_icons/dropdown.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: transform 0.1s ease-in-out;
}

.channel-select:not([open]) .channel-summary:hover {
    background-color: var(--white-20);
    border-radius: 10px;
}

.channel-select:not([open]) .channel-summary:hover::after {
    opacity: 1;
}

.channel-select[open] .channel-summary {
    background-color: var(--sidebar-dropdown-bg);
    border-top: 2px solid var(--white-40);
    border-left: 2px solid var(--white-40);
    border-right: 2px solid var(--white-40);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.channel-summary:focus {
    outline: none;
}

.channel-select[open] .channel-summary::after {
	transform: rotate(180deg);
    opacity: 1;
}

.channel-select ul {
    position: absolute;
	left: 0;
    width: 100%;
	padding: 0px 10px 7px 10px;
	margin: 0;
	box-sizing: border-box;
	max-height: 200px;
	overflow-y: auto;
    list-style: none;
    background-color: var(--sidebar-dropdown-bg);
    border-bottom: 2px solid var(--white-40);
    border-left: 2px solid var(--white-40);
    border-right: 2px solid var(--white-40);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.channel-details-action {
	margin: 0;
    text-align: center;
    padding: 5px 0 5px 0;
	border-bottom: 1px solid var(--white-20);
}

.channel-details-action:last-child {
	border-bottom: none;
}

.channel-details-action a {
    display: block;
    padding: 2px 0;
    text-decoration: none;
    color: inherit;
    font-size: 16px;

}

.channel-details-action:hover a {
    background-color: var(--white-40);
    border-radius: 10px;
}

/* All treads */

.all-treads {
    display: flex;
    align-items: center;
}

.all-treads::before {
    content: "";
    display: inline-block;
    margin-right: 11px;
    width: 18px;
    height: 18px;
    background-image: url('../img/gui_icons/message.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 0.1s;
}

.all-treads a {
    color: var(--sidebar-light-grey);
    text-decoration: none;
    transition: color 0.1s;
}

.all-treads:hover::before, .all-treads:active::before {
    opacity: 1;
}

.all-treads:hover a, .all-treads:active a {
    color: var(--white);
}

/* Sidebar heading */

.sidebar-heading {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.sidebar-heading {
    color: var(--sidebar-grey);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

/* Channel list friends  */

.nav-channels-friends {
    padding-right: 16.5px;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: var(--white-40) transparent;
}

.nav-channels-friends::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

.nav-channels-friends::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}

.nav-channels-friends::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--white-20);
}

/* Channels */

.channels {
    margin-top: 16px;
}

ul.channel-list {
    width: 100%;
    margin-top: 14px;
}

.channel-list li:not(:last-child) {
    margin-bottom: 1px;
}

.channel-list .current-channel {
    color: var(--white);
    font-weight: 700;
    background-color: var(--white-20);
    border-radius: 5px;
}

.channel-list div {
    color: var(--sidebar-light-grey);
    cursor: pointer;
}

.channel-list div:hover {
    background-color: var(--white-10);
    color: var(--white-dull);
    border-radius: 5px;
}

.channel-list div:active {
    background-color: var(--white-20);
    color: var(--white);
}

/* Link channel */

.link-channel {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding: 5px 13px 6px 13px;
}

.link-channel::before {
    content: "# ";
}

/* Friends */

.friends {
    margin-top: 17.5px;
}

ul.friend-list {
    margin-top: 22.5px;
}

.friend-item {
    height: 32px;
}

.friend-link {
    display: block;
    text-decoration: none;
}

.friend-block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--sidebar-light-grey);
    height: 32px;
}

.friend-item:hover {
    background-color: var(--white-10);
    border-radius: 5px;
}

.friend-item:hover p {
    color: var(--white-dull);
}

.friend-item:active {
    background-color: var(--white-20);
    border-radius: 5px;
}

.friend-item:active p {
    color: var(--white);
}

.friend-list .friend-item:not(:last-child) {
    margin-bottom: 12px;
}

.friend-item img {
    margin-right: 12.5px;
    background-color: var(--black);
    border-radius: 4px;
}

.friend-block::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--friend-offline);
    margin-right: 8px;
}

.friend-block.online::before {
    background-color: var(--friend-online);
}

/* Chat */

.chat {
    display: flex;
}

.chat-content {
    display: grid;
    grid-template-rows: 81px 1fr 73px;
    width: 100%;
    max-height: 100vh;
}

/* Chat title */

.chat-title {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px 16px 24px;
    position: relative;
    border-bottom: 1px solid var(--black-24);
}

/* Chat heading */

.chat-heading {
    display: flex;
    align-items: center;
}

.chat-heading h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    margin-right: 6px;
}

.chat-heading h1::before {
    content: "#";
}

.add-favorite {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../img/gui_icons/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
}

.add-favorite:hover {
    opacity: 1;
}

.add-favorite:active {
    opacity: 1;
    transform: scale(1.1) translate(0, -1px);
}

/* Chat toolbar */

.chat-toolbar {
    display: flex;
    align-items: center;
}

/* Member count */

.member-count-wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
    margin-right: 25px;
}

.member-count {
    display: flex;
    align-items: center;
    color: var(--chat-light-grey);
    transition: color 0.2s;
}

.member-count::before {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    background-image: url('../img/gui_icons/profile.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    margin-right: 6px;
    transition: opacity 0.2s;
}

.member-count:hover {
    color: var(--black);
}

.member-count:hover::before {
    opacity: 1;
}

/* Toolbar search */

.toolbar-search {
    position: relative;
    margin-right: 23px;
}

.toolbar-search input {
    width: 241px;
    height: 33px;
    outline: none;
    color: var(--chat-grey);
    padding: 8px 44px 8px 16px;
    background-color: var(--black-0001);
    border: 0.5px solid var(--black-24);
    border-radius: 6px;
    transition: border-color 0.2s, color 0.2s;
}

.toolbar-search input:hover, .toolbar-search input:active, .toolbar-search input:focus {
    border-color: var(--black);
}

.toolbar-search input:active, .toolbar-search input:focus {
    color: var(--black);
}

.search-icon {
    position: absolute;
    top: 9px;
    right: 16px;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-image: url('../img/gui_icons/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.24;
    transition: opacity 0.2s;
    cursor: pointer;
}

.search-icon:hover, .search-icon:active, .search-icon:hover, .search-icon:focus {
    opacity: 1;
}

/* Toolbar notifications */

.toolbar-notifications-wrapper {
    display: block;
    position: relative;
    margin-right: 22px;
    transition: transform 0.1s;
    cursor: pointer;
}

.toolbar-notifications-wrapper:hover .toolbar-notifications {
    opacity: 1;
}

.toolbar-notifications-wrapper:active {
    transform: translate(0, 1px);
}

.toolbar-notifications {
    width: 14px;
    height: 15px;
    background-image: url('../img/gui_icons/notification.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    transition: opacity 0.2s;
}

.toolbar-notifications-wrapper.notify::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -4px;
    width: 5px;
    height: 5px;
    background-color: var(--notify);
    border-radius: 50%;
}

/* Toolbar options */

.toolbar-options-wrapper {
    width: 10px;
}

.toolbar-options-wrapper:hover .toolbar-options {
    opacity: 1;
}

.toolbar-options {
    width: 5px;
    height: 16px;
    background-image: url('../img/gui_icons/3-dots.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    transition: opacity 0.2s;
    cursor: pointer;
}

/* Chat messages */

.chat-messages {
    padding: 20px 6px 25px 25px;
    background-color: var(--white);
    overflow-y: auto;
    scrollbar-color: var(--white-40) transparent;
}

.chat-messages-inner {
    height: 100%;
    padding-right: 11px;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-messages-inner::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

.chat-messages-inner::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}

.chat-messages-inner::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--black-20);
}

/* Message item */

.message-item {
    display: flex;
}

.message-list .message-item:not(:first-child) {
    margin-top: 10px;
}

.message-list .message-item:not(:last-child) {
    margin-bottom: 10px;
}

.message-item > img {
    width: 32px;
    height: 32px;
    background-color: var(--black);
    border-radius: 4px;
    margin-right: 12px;
}

/* Message header */

.message-header {
    display: flex;
}

.message-sender {
    color: var(--black);
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-right: 8px;
}

.message-time {
    color: var(--chat-grey);
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

/* Message content */

.message-content {
    display: flex;
    flex-flow: column nowrap;
}

.message-text {
    color: var(--black);
    font-size: 13px;
    line-height: 20px;
}

/* Message attachment list static */

ul.message-attachment-list-static {
    margin-top: 9.5px;
    display: flex;
    flex-flow: column wrap;
}

.message-attachment-list-static > li {
    width: 266px;
    height: 200px;
    position: relative;
}

.message-attachment-list-static > li:not(:last-child) {
    margin-bottom: 10px;
}

ul.reaction-list {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
    max-width: 111px;
    left: 246px;
    top: 185px;
    padding: 3px 11px 5px 6px;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0px 2px 8px var(--black-14);
}

.reaction {
    width: 27px;
    height: 16px;
    display: flex;
    transition: color 0.2s;
}

.reaction:hover, .reaction:active {
    color: var(--btn-primary-bg);
    cursor: pointer;
    user-select: none;
}

.reaction-emoji {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.reaction-count {
    font-size: 12px;
    line-height: 18px;
}

.message-attachment-list-static img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* chat-divider */

.chat-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--chat-grey);
    font-size: 13px;
    line-height: 18px;
}

.chat-divider::before, .chat-divider::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    background-color: var(--black);
    opacity: 0.16;
}

.chat-divider::before {
    margin-right: 7px;
}

.chat-divider::after {
    margin-left: 7px;
}

/* Input message */

.input-message {
    display: grid;
    grid-template-columns: 1fr 20px;
    align-items: center;
    padding: 26px 24px;
    position: relative;
    border-top: 1px solid var(--black-24);
    background-color: var(--white);
}

.input-message button {
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
}

.input-message fieldset {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

/* Attachment */

.input-message .attachment {
    min-width: 13px;
    min-height: 22px;
    margin-right: 18px;
    background-image: url('../img/gui_icons/attachment.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
}

.input-message .attachment:hover {
    opacity: 1;
}

.input-message .attachment:active {
    opacity: 1;
    transform: translate(0, 1px);
}

/* Voice message */

.input-message .voice-message {
    min-width: 15px;
    min-height: 21px;
    margin-right: 20px;
    background-image: url('../img/gui_icons/voice.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
}

.input-message .voice-message:hover {
    opacity: 1;
}

.input-message .voice-message:active {
    opacity: 1;
    transform: scale(1.5);
}

/* Text message */

.input-message .text-message {
    width: 100%;
    margin-right: 20px;
    border: none;
    outline: none;
    color: var(--chat-grey);
    transition: color 0.2s;
}

.input-message .text-message::placeholder {
    user-select: none;
}

.input-message .text-message:hover, .input-message .text-message:active, .input-message .text-message:focus {
    color: var(--black);
}

/* Send message */

.input-message .send-message {
    display: none;
    min-width: 20px;
    min-height: 20px;
    margin-right: 20px;
    background-image: url('../img/gui_icons/send.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    transition: opacity 0.2s, transform 0.2s;
    cursor: pointer;
}

.input-message .send-message:hover {
    opacity: 1;
}

.input-message .send-message:active {
    opacity: 1;
    transform: translate(1px, 0);
}

/* Emoji select */

.input-message .emoji-select {
    min-width: 20px;
    min-height: 20px;
    background-image: url('../img/gui_icons/emoji.svg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
    transition: opacity 0.2s;
    cursor: pointer;
}

.input-message .emoji-select:hover {
    opacity: 1;
}

/* Profile panel */

.profile-panel {
    min-width: 200px;
    max-width: 200px;
    background-color: var(--white-80);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.profile-panel-inner {
    padding: 15px 20px;
}

/* Profile heading */

.profile-avatar {
    background-color: var(--black);
    color: var(--white);
}

.profile-name {
    display: block;
    color: var(--black);
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    word-break: break-all;
}

.profile-name::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--friend-offline);
    margin-left: 5.5px;
}

.profile-name.online::after {
    background-color: var(--friend-online);
}

.profile-status {
    color: var(--profile-grey);
    font-size: 12px;
    line-height: 14px;
    word-break: break-all;
}

ul.profile-social-list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

.profile-social-item a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--profile-white-dull);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-social-item a:hover, .profile-social-item a:active {
    background-color: #3577EF;
}

.profile-social-item a:hover svg, 
.profile-social-item a:active svg {
    opacity: 1;
}

.profile-social-list .profile-social-item:not(:last-child) {
    margin-right: 8px;
}

.profile-social-item svg {
    opacity: 0.5;
}

/* Profile actions */

.profile-actions {
    display: flex;
    margin-top: 18px;
}

.profile-actions .profile-message {
    display: block;
    width: 100%;
    text-decoration: none;
    margin-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.profile-actions-select {
    padding: 0px;
    position: relative;
}

.profile-actions-select[open] {
	z-index: 1;
}

.profile-actions-summary {
    width: 25px;
    height: 25px;
    cursor: pointer;
    list-style: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-actions-summary::-webkit-details-marker {
	display: none;
}

.profile-actions-summary::after {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    background-image: url('../img/gui_icons/rectangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.1s ease-in-out;
}

.profile-actions-summary:focus {
    outline: none;
}

.profile-actions-select[open] .profile-actions-summary::after {
	transform: rotate(180deg);
}

.profile-actions-select[open] {
    background-color: var(--btn-primary-bg-hover);
}

ul.profile-actions-list {
    position: absolute;
    top: 29px;
	right: 0;
    width: 160px;
	padding: 5px;
	margin: 0;
	box-sizing: border-box;
	max-height: 200px;
	overflow-y: hidden;
    list-style: none;
    background-color: var(--btn-primary-bg-hover);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.profile-actions-link {
    text-decoration: none;
    color: inherit;
}

.profile-actions-link:hover div {
    background-color: var(--btn-primary-bg);
    border-radius: 5px;
}

/* Profile about */

ul.profile-about {
    margin-top: 14px;
}

.profile-about li:not(:first-child) {
    margin-top: 11px;
}

/* Profile close */

.profile-close-wrapper {
    display: flex;
    justify-content: end;
}

.profile-close {
    display: block;
    width: 10px;
    height: 16px;
    margin: 0 23px 28px 0;
    background-color: transparent;
    background-image: url('../img/gui_icons/profile-close.svg');
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.profile-close:hover {
    opacity: 1;
}
